:root {
    --main-color: orange;
    --content-color: #ffc966;
}

body {
    background-color: var(--main-color);
    font-family: "Nanum Gothic";
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 200px;
}

.title {
    margin-bottom: 0;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.section__form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 450px;
    height: 320px;
    background-color: var(--content-color);
    border: 3px solid black;
    border-radius: 12px;
}

.section__form > * {
    margin: 0 auto;
    width: 90%;
}

.new-article input {
    background-color: #ffedcc;
    border: 2px solid black;
    border-radius: 6px;
}

.new-article__label {
    margin-bottom: 4px;
}

.new-article input {
    width: calc(100% - 6px);
    margin-bottom: 4px;
}

.new-article__link input {
    height: 24px;
}

.new-article__comment input {
    height: 150px;
}

button {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: black;
    color: white;
    box-shadow: 1px 1px gray;
    border-radius: 4px;
    font-size: 14pt;
}

.section__form button {
    position: relative;
    left: calc(50% - 50px);
}

.open {
    margin-bottom: 10px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    gap: 12px;
    margin: auto;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: var(--content-color);
    border: 2px solid black;
    border-radius: 12px;
    padding: 16px;
}

.article__img {
    width: 150px;
    height: 200px;
    margin-right: 8px;
}

.article__title {
    font-weight: bold;
    font-size: 14pt;
}

.article__title {
    font-size: 13pt;
}